replicaCount: 4

image:
  repository: mohamedgomaa77/go-app
  tag: "df2d43c1898c8c95da1c283cfc9150c3dd797174"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  targetPort: 8080
  nodePort: 30080
