replicaCount: 2

image:
  repository: mohamedgomaa77/go-app
  tag: "0c98604a5c4960cd65f1b780b7f2888e13815d14"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  targetPort: 8080
  nodePort: 30080
